<!DOCTYPE html> {% load static %}
<html>
    <head>
        <title>Team 9 Project</title>
    </head>
    <body>
        <h1>패스트푸드 식당과 메뉴와의 관계</h1>
        <h2>패스트 푸드점 마다의 메뉴 갯수</h2>
        <img class="img1" src="static/img/img1.png" alt="..." />
        <h2>패스트 푸드점 메뉴들의 평균 칼로리</h2>
        <img class="img2" src="static/img/img2.png" alt="..." />
        <h2>패스트 푸드점 마다의 단백질 평균 함량</h2>
        <img class="img3" src="static/img/img3.png" alt="..." />
        <h2>패스트 푸드점 마다의 탄수화물/당 비율</h2>
        <img class="img4" src="static/img/img4.png" alt="..." />
    </body>
</html>